<p class="flavor">What a cryptic title.</p>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">6</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">5</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">4</div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">7</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">10</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">8</div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">2</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">9</div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">11</div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">3</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">1</div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">12</div>
</div>
