{% load static %}
<div class="avatar_fragment">
    <p>BOAR</p>
    <img src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/159.png' %}">
</div>
<div class="avatar_fragment">
    <p>DARK/ALL-ATTRACTIVE</p>
    <img src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/349.png' %}">
</div>
<div class="avatar_fragment">
    <p>DARK/PLEASING</p>
    <img src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/249.png' %}">
</div>
<div class="avatar_fragment">
    <p>DWARF</p>
    <img src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/159.png' %}">
</div>
<div class="avatar_fragment">
    <p>FISH</p>
    <img src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/579.png' %}">
</div>
<div class="avatar_fragment">
    <p>LION</p>
    <img src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/279.png' %}">
</div>
<div class="avatar_fragment">
    <p>TURTLE</p>
    <img src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/5.png' %}">
</div>
<div class="avatar_fragment">
    <p>WHITE HORSE</p>
    <img src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/349.png' %}">
</div>
<div class="avatar_fragment">
    <p>WITH AXE</p>
    <img src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/159.png' %}">
</div>
<img class="avatar" src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/grid.png' %}">
<br>
<img class="avatar" src="{% static 'puzzles/the_oscars_2022/avatar_way_of_water/ships.png' %}">
<p>Enter ships in the alignment above or rotated clockwise 90 degrees.</p>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
    <div class="letter"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
