<p class="flavor">Ooh, baby, I'm all shook up.  Elvis lives!</p>

<table class="elvis">
    <tr>
        <td>3</td>
        <td class="center_column">_  _  _ &nbsp; _  _  _</td>
        <td>2</td>
    </tr>
    <tr>
        <td>5</td>
        <td class="center_column">_  _  _ &nbsp; _  _  _</td>
        <td>3</td>
    </tr>
    <tr>
        <td>1</td>
        <td class="center_column">_  _  _  _ &nbsp; _  _  _  _</td>
        <td>4</td>
    </tr>
    <tr>
        <td>2</td>
        <td class="center_column">_  _  _  _ &nbsp; _  _  _  _</td>
        <td>1</td>
    </tr>
    <tr>
        <td>4</td>
        <td class="center_column">_  _  _  _  _ &nbsp; _  _  _  _  _</td>
        <td>5</td>
    </tr>
</table>

<p>Enter answers with the same length in alphabetical order.</p>
