<p class="flavor">To unlock the true power of this meta, you're going to have to do some pretty unlikely things to your answers.

<ul>
    <li>Interpet the answer as cryptic crossword wordplay</li>
    <li>Remove the antepenultimate letter, then swap the penultimate and final letters</li>
    <li>Swap the first two letters, then insert a biblical abbreviation between the second and third letter</li>
    <li>Remove the first letter, insert an N into the (new) fourth position, then replace the penultimate letter with a Best Picture nominee from 2015 or later</li>
    <li>Insert a state abbreviation in the exact middle of the answer (coincidentally, the answer already ends in a state abbreviation)</li>
    <li>Replace the answer with the word immediately following it in a Beatles song title</li>
    <li>Replace the name of a band with its most famous drummer</li>
    <li>Add caramel (or switch from an American trade name to its global equivalent)</li>
    <li>Replace a company with (arguably) its most successful product, the one released in 2017 (and fix the spelling)</li>
    <li>Replace an untruth in the answer with the letter U</li>
    <li>Spell it backwards, then delete every other letter (starting with the first)</li>
    <li>Encode the answer with ROT-14</li>
</ul>

<div class="everything_everywhere_all_at_once">
    <h2>Everything</h2>
    <div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
    </div>
    <div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
    </div>
    <div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
    </div>
    <div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
    </div>
</div>
<div class="everything_everywhere_all_at_once">
    <h2>Everywhere</h2>
    <div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
    </div>
    <div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
    </div>
    <div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
    </div>
    <div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
    </div>
</div>
<div class="everything_everywhere_all_at_once">
    <h2>All At Once</h2>
<div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
    </div>
    <div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
    </div>
    <div class="letter_row">
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
    </div>
    <div class="letter_row">
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered"></div>
        <div class="letter bordered highlight"></div>
        <div class="letter bordered"></div>
    </div>
</div>
<p>Sort each column from least to most specific.</p>
