<p class="flavor">"What's your tune called?"<br>
" 'The Banshees of Inisherin', I think."<br>
"But there are no banshees on Inisherin."<br>
"I know, I just like the sound.  I could have just as easily called it..."</p>
<div class="letter_row">
    <div class="letter">The</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">5</div>
	<div class="letter bordered"></div>
	<div class="letter">of</div>
	<div class="letter bordered"></div>
	<div class="letter bordered">5</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
    <div class="letter">The</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">2</div>
	<div class="letter">of</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">6</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">6</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter">of</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">4</div>
</div>
<div class="letter_row">
    <div class="letter">The</div>
	<div class="letter bordered"></div>
	<div class="letter bordered">3</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter">of</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">7</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
    <div class="letter">The</div>
	<div class="letter bordered">4</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter">of</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">2</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">7</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter">of</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">1</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
    <div class="letter">The</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered">1</div>
	<div class="letter">of</div>
	<div class="letter bordered">3</div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
