{% load static %}
{% load puzzle_template_filters %}

<p class="flavor">I feel like I've been waiting for forever for this year's Oscars, but I've run into issues researching them.  <strong>Why is IMDB having trouble with this year's awards?</strong></p>

{{ puzzle|as_ul:user|safe }}

<p>The long-delayed follow-up to <a href="/puzzle/29">my last Oscars set</a>, this is ten metapuzzles themed around the 2022 Best Picture nominees!  (Yes, the ceremony is in 2023, but the movies were released in 2022, and the release year is all that matters.)  As before, it turns out that writing over 85 puzzles in the month between when the nominees are announced and the actual awards is kind of hard, so I didn't bother.  Instead, use the answers below as the feeders into the metas.

<ul class="columns">
    <li>A CHORUS LINE</li>
    <li>AARON</li>
    <li>ACE OF SPADES</li>
    <li>AIRSTRIP</li>
    <li>ANATOMY</li>
    <li>ARTISTRIES</li>
    <li>BACKING UP</li>
    <li>BEATABLE</li>
    <li>BERNOULLI'S LAW</li>
    <li>BROKEN HEART</li>
    <li>CAULIFLOWER</li>
    <li>CRIMP</li>
    <li>CROP</li>
    <li>CUBIC PLANE CURVE</li>
    <li>DAYTRIPS</li>
    <li>DECAYED</li>
    <li>DECEMBER ROMANCE</li>
    <li>DEFLECTION</li>
    <li>DIALOGUE</li>
    <li>DRUNKEN</li>
    <li>ELECTRIC MAYHEM</li>
    <li>EPIC GAMES</li>
    <li>EYING</li>
    <li>FAIR ENOUGH</li>
    <li>FAX</li>
    <li>FEAR AND TREMBLING</li>
    <li>FEVER</li>
    <li>FIFTHEENTH BIRTHDAY</li>
    <li>FILLINGS</li>
    <li>FIRMER</li>
    <li>FOOLISH CONSISTENCY</li>
    <li>FORWARD</li>
    <li>FREE STATE ARMY</li>
    <li>GASOLINE PUMP</li>
    <li>GAVE OFF</li>
    <li>GEM</li>
    <li>GROPES</li>
    <li>HOLIER</li>
    <li>HUNT</li>
    <li>ICE CREAM</li>
    <li>IED</li>
    <li>JIMMY</li>
    <li>KALE BROWNE</li>
    <li>KEYBOARD MUSIC</li>
    <li>KOOK</li>
    <li>KRIPKE MODELS</li>
    <li>KURDISH LANGUAGE</li>
    <li>LITTLE GUYS WITH BIG GUNS</li>
    <li>LOUIS B. MAYER</li>
    <li>LOUNGE LIZARD</li>
    <li>LOWER</li>
    <li>MATRIX ONLINE</li>
    <li>MAXIMA</li>
    <li>MELODIES</li>
    <li>MOORE</li>
    <li>NARCISS CAMERA</li>
    <li>NATIONAL AIR AND SPACE MUSEUM</li>
    <li>NICE BOY</li>
    <li>NIKKI AND PAULO</li>
    <li>PARTY ANIMAL</li>
    <li>PLAUDIT</li>
    <li>RAMSAY BOLTON</li>
    <li>REGULAR ROUTINE</li>
    <li>RESERVES</li>
    <li>ROCKY</li>
    <li>ROG</li>
    <li>SEND</li>
    <li>SETTLE</li>
    <li>SINGER</li>
    <li>STRIVED</li>
    <li>SWEENEY TODD</li>
    <li>TE REO</li>
    <li>THE FARM</li>
    <li>THERAPY</li>
    <li>THREE MUSKETEERS</li>
    <li>TRICYCLES</li>
    <li>TRINKET</li>
    <li>TRITENESS</li>
    <li>VAMPIRE LESTAT</li>
    <li>VAPER</li>
    <li>VARIABLE INTAKE</li>
    <li>WAREHOUSING</li>
    <li>WARREN ZEVON</li>
    <li>WITCHER</li>
    <li>YAMOUSSOUKRO</li>
    <li>YOU JEST</li>
</ul>

<p>This is indebted to Deusovi's <a href="https://puzzling.stackexchange.com/questions/65270/recognizing-a-metapuzzle/">Recognizing a Metapuzzle</a>, which pioneered the concept of "metas where the feeders don't actually exist".  My twist was applying the match-answers-to-metas mechanic, which dates to at least 2008 but I think is now most associated with Foggy Brume's <a href="http://www.pandamagazine.com/index.php">Puzzle Boats</a>.</p>
{% comment %}
<p>You can find a mapping of which feeders go with which metas, as well as all of the solutions, <a href="{% static 'puzzles/the_oscars/solutions.html' %}">here</a>. {% endcomment %}
