{% load static %}
<p class="flavor"><em>Top Gun: Maverick</em> has everything a movie needs, in just the right amount.</p>

<div class="top_gun_maverick">
    <div>
        <img src="{% static 'puzzles/the_oscars_2022/top_gun_maverick/1.jpg' %}">
        <p>⭐⭐</p>
    </div>
    <div>
        <img src="{% static 'puzzles/the_oscars_2022/top_gun_maverick/2.jpg' %}">
        <p>⭐⭐⭐⭐⭐</p>
    </div>
    <div>
        <img src="{% static 'puzzles/the_oscars_2022/top_gun_maverick/3.jpg' %}">
        <p>⭐⭐⭐</p>
    </div>
    <div>
        <img src="{% static 'puzzles/the_oscars_2022/top_gun_maverick/4.jpg' %}">
        <p>⭐⭐</p>
    </div>
    <div>
        <img src="{% static 'puzzles/the_oscars_2022/top_gun_maverick/5.jpg' %}">
        <p>⭐</p>
    </div>
    <div>
        <img src="{% static 'puzzles/the_oscars_2022/top_gun_maverick/6.jpg' %}">
        <p>⭐⭐⭐⭐⭐</p>
    </div>
    <div>
        <img src="{% static 'puzzles/the_oscars_2022/top_gun_maverick/7.jpg' %}">
        <p>⭐</p>
    </div>
    <div>
        <img src="{% static 'puzzles/the_oscars_2022/top_gun_maverick/8.jpg' %}">
        <p>⭐⭐⭐⭐⭐</p>
    </div>
    <div>
        <img src="{% static 'puzzles/the_oscars_2022/top_gun_maverick/9.jpg' %}">
        <p>⭐⭐⭐⭐</p>
    </div>
    <div>
        <img src="{% static 'puzzles/the_oscars_2022/top_gun_maverick/10.jpg' %}">
        <p>⭐</p>
    </div>
</div>
