{% load static %}
<p class="flavor">Give it a tri.</p>

<img src="{% static 'puzzles/the_oscars_2022/triangle_of_sadness_1.png' %}">

<h3>ROWS</h3>
<ul>
    <li><em>Perry Mason</em> title word / <em>Scream</em> actress Campbell</li>
    <li>Metallic sounds</li>
    <li>Independence or Groundhog follower</li>
    <li>Letter confused with rho</li>
    <li>Map abbrev.</li>
    <li>Develop</li>
    <li>Late night host Meyers</li>
    <li>Agree / Wall part</li>
</ul>

<p><em>After:</em></p>
<img src="{% static 'puzzles/the_oscars_2022/triangle_of_sadness_2.png' %}">
