{% load static %}
<p class="flavor">I've heard a lot of good things about these women.</p>

<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/smart.jpg' %}" alt="smart">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/smart.jpg' %}" alt="smart">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/smart.jpg' %}" alt="smart">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/smart.jpg' %}" alt="smart">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/smart.jpg' %}" alt="smart">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/king.jpg' %}" alt="king">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/king.jpg' %}" alt="king">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/king.jpg' %}" alt="king">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/steenburgen.jpg' %}" alt="steenburgen">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/steenburgen.jpg' %}" alt="steenburgen">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/steenburgen.jpg' %}" alt="steenburgen">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/steenburgen.jpg' %}" alt="steenburgen">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/steenburgen.jpg' %}" alt="steenburgen">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/maclaine.jpg' %}" alt="maclaine">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/smart.jpg' %}" alt="smart">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/smart.jpg' %}" alt="smart">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/kelly.jpg' %}" alt="kelly">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/johansson.jpg' %}" alt="johansson">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/johansson.jpg' %}" alt="johansson">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/johansson.jpg' %}" alt="johansson">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/johansson.jpg' %}" alt="johansson">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/johansson.jpg' %}" alt="johansson">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/fisher.jpg' %}" alt="fisher">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/fisher.jpg' %}" alt="fisher">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/fisher.jpg' %}" alt="fisher">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/fisher.jpg' %}" alt="fisher">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/fisher.jpg' %}" alt="fisher">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/fisher.jpg' %}" alt="fisher">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/fisher.jpg' %}" alt="fisher">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/kelly.jpg' %}" alt="kelly">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/kelly.jpg' %}" alt="kelly">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/kelly.jpg' %}" alt="kelly">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/kelly.jpg' %}" alt="kelly">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/kelly.jpg' %}" alt="kelly">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/kelly.jpg' %}" alt="kelly">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/kelly.jpg' %}" alt="kelly">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/whitman.jpg' %}" alt="whitman">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/whitman.jpg' %}" alt="whitman">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/whitman.jpg' %}" alt="whitman">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/fisher.jpg' %}" alt="fisher">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/fisher.jpg' %}" alt="fisher">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/whitman.jpg' %}" alt="whitman">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/whitman.jpg' %}" alt="whitman">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/whitman.jpg' %}" alt="whitman">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/whitman.jpg' %}" alt="whitman">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/whitman.jpg' %}" alt="whitman">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/midler.jpg' %}" alt="midler">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/midler.jpg' %}" alt="midler">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/midler.jpg' %}" alt="midler">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/king.jpg' %}" alt="king">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/midler.jpg' %}" alt="midler">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/midler.jpg' %}" alt="midler">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/maclaine.jpg' %}" alt="maclaine">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/maclaine.jpg' %}" alt="maclaine">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/steenburgen.jpg' %}" alt="steenburgen">
</div>
<div class="women_talking">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/johansson.jpg' %}" alt="johansson">
	<img src="{% static 'puzzles/the_oscars_2022/women_talking/johansson.jpg' %}" alt="johansson">
</div>
