<p>10 chefs with different first, middle, and last names work at 10 trendy eateries (one is named Crimson Orb) in 10 US cities.  One of the middle names is Amelia.  Anderson and Nguyen are among the last names.</p>
<ol>
    <li>The only chef whose first name and middle name start with the same letter works in Atlanta, and her last name is Sanchez.  The only chef whose middle name and last name start with the same letter works in Jacksonville.  No chef's first name and last name start with the same letter.</li>
    <li>Two restaurants have names that start with the same letter as the city they're in.</li>
    <li>Dog Kitchen is the only restaurant whose chef's name is in alphabetical order (that is, her first name is alphabetically before her middle name, which is alphabetically before her last name.)  The chefs at AntiHunger and Dirty Salsa are the only chefs with names in reverse alphabetical order.</li>
    <li>The ten chefs are Giselle, Phoebe (who cooks at Dirty Salsa), the woman with middle name Catherine, the woman with middle name Ellen (who cooks at Hot Meal 411), the woman with middle name Opal, Ms. Brown (who works in Indianapolis), Ms. Smith, Ms. Unitas, the one who cooks at AntiHunger, and the one who works in Fargo.</li>
    <li>Paige, the woman with middle name Abigail, the woman with middle name Faith, the cook at Imp0rtance, and the cook in Boston are all different people.</li>
    <li>The chef with middle name Faith works in a city that comes alphabetically before that of the chef with middle name Abigail, whose city comes alphabetically before that of the woman with middle name Ellen.</li>
    <li>Imp0rtance is in a city that comes alphabetically before the one where Olive works, which comes alphabetically before that of Ms. Brown.</li>
    <li>Ms. Escobar absolutely loves living in Honolulu.  Mahalo!</li>
    <li>AntiHunger is not in Charleston.</li>
    <li>EITHER Francine's last name is Rodriguez OR the woman with middle name Piper works in Boston</li>
    <li>Paige works at either E+D+IB+L+E or The Diamond.</li>
    <li>Dirty Salsa, Dog Kitchen (where the cook's middle name is Itzel), and The Diamond are in Dallas, El Paso, and Fargo, in some order.</li>
    <li>Phoebe's middle name is Ellen, Irene, or Piper.</li>
    <li>Sofia's middle name is Abigail, Faith, or Piper.  Her last name is not Unitas.</li>
    <li>Ms. Sanchez's first name is Giselle, Grace, or Riley.</li>
    <li>Rachel (who does not work in Indianapolis)'s last name is Brown, Escobar, or Evans.</li>
    <li>Ms. Martinez and Paige Rodriguez work in Boston and Fargo, in some order.</li>
    <li>Riley does not work in Green Bay and her middle name is not Piper.</li>
    <li>The woman with middle name Opal's first name is Charlotte, Riley, or Sofia.</li>
    <li>Ms. Unitas's first name is Grace, Olive, or Sofia.</li>
    <li>Ms. Smith works in El Paso or Jacksonville.</li>
    <li>Rachel cooks at Dog Kitchen or Table Taste.</li>
    <li>EITHER Paige's middle name is Gemma OR Grace cooks at Hot Meal 411.</li>
    <li>Olive does not cook at QuEeNsLaNd (which is located in Green Bay).</li>
</ol>
