<p>ACR ASS ASW CEL EAT ETS FRO HIM IFI ISS KIL LAS LHI MTH OON M (2 4 2 2 5 3 4 4 9, 3'1 4 3)</p>
<p>ADO DDL ELO EMI EPA ESE HED HIM IVE LAT LLA NTH RTG STI TEL WER R (4 4 2 3 6 7 3 6! 4 3 1 6!)</p>
<p>AFE AIN CAN EAG ELS ESS FAL HER IBT NGT OBE OME SAF SER TFE THI YOU ST (3 3'1 4 4 5 3 5'1 9 2 2 4 7)</p>
<p>ALC ARE CRA ILE MNO NIU OWM TSM YIM OO (7 3 6!  1'1 1 5 3!  3!)</p>
<p>ALI AND BEE DON ESO EST EVE FAR HAS IAW ILL NUN PID REN STU TIB TWE VEA WER (5 2'2 4 2 3 3 4 2-6, 3 2'2 5 5, 4'1 2?)</p>
<p>ANA CEC EAT ERP ICL ILL LAV LAY NEV WOW DO (5 4 2 3 8 1 3 4 2)</p>
<p>ANT ANY ARI CAN CHP ERS HAT HED NGA NTW OES ONT TDO THI XIS YOU (3 3'1 2 8 4 1 4 6 4 2 5'1 4)</p>
<p>AST EET ERN EST ETE HAV HEY IKE KJU LOO NTO NYO POT STL UPO URF YOU UM (4 4 4/3 4 3 4/4 4 4 4/2-2-7)</p>
<p>ATA EAT MET PID RSU SRA STU TCR URE S (6, 10 3 9!)</p>
<p>ATF CHE FFO MON NDO ODI ORA QUI RTO STE STH TAL TKI WHA US (6? 4 4 2 4 2 4 3 1 7 2 5?)</p>
<p>BLE LGE MUR NCI OTE PFE PHO TYO URV WIL (9 1. 5 4 3 4 4)</p>
<p>CKT EAB EOV EVE HEI IME ITR LAZ LPE MOB OPL OUT RLG RYT TEL YDI YTO ER (5 4 1 3 2 4 6 5 "4 4" 5 2 5 4)</p>
<p>CON EID ELV EMS EST HAT HOL LTH MON ONT RSD SLW STE TRO EA (8 3'1 7 10! 4'1 2 5 4!)</p>
<p>COU DIB ETY HOR ILL LEF MAN NID NKI ONT ORG OUT THI LD (1'2 8 6 3, 5. 1 3'1 5 1 5)</p>
<p>CRU EMA ERM ESA IGG MTH PGE TAB WER AP (2'2 6 3 3! 3 1 6 3!)</p>
<p>DID DID EAR EAR EIT HEF IFI INT NIN NIT NTC NTL OCC OUR RAD THG YXL G (2 1 4'1 5 2 2 3 6 5, 2 4'1 6 8)</p>
