{% load static %}
<p class="flavor">Some people just don't play fair.</p>
<div class="cheaters_fragment">
    <a href="{% static 'puzzles/untitled_2023/cheaters/hq.png' %}"><img src="{% static 'puzzles/untitled_2023/cheaters/hq.png' %}"></a>
    <p>HQ YR YX 7C DV 1R YR YR</p>
</div>
<div class="cheaters_fragment">
    <a href="{% static 'puzzles/untitled_2023/cheaters/in.png' %}"><img src="{% static 'puzzles/untitled_2023/cheaters/in.png' %}"></a>
    <p>IN ZL YL CI 9U ZM 3L FY</p>
</div>
<div class="cheaters_fragment">
    <a href="{% static 'puzzles/untitled_2023/cheaters/oz.png' %}"><img src="{% static 'puzzles/untitled_2023/cheaters/oz.png' %}"></a>
    <p>OZ CQ LE 6S 11R</p>
</div>
<div class="cheaters_fragment">
    <a href="{% static 'puzzles/untitled_2023/cheaters/up.png' %}"><img src="{% static 'puzzles/untitled_2023/cheaters/up.png' %}"></a>
    <p>UP E2 EX HK 12C VL</p>
</div>
<div class="cheaters_fragment">
    <a href="{% static 'puzzles/untitled_2023/cheaters/ws.png' %}"><img src="{% static 'puzzles/untitled_2023/cheaters/ws.png' %}"></a>
    <p>WS YN LP YO V4 OZ 8M</p>
</div>
<div class="cheaters_fragment">
    <a href="{% static 'puzzles/untitled_2023/cheaters/zg.png' %}"><img src="{% static 'puzzles/untitled_2023/cheaters/zg.png' %}"></a>
    <p>ZG YM Z10 ZL Z5 FM</p>
</div>
<p>Everyone said it was a <strong>_ _ _ _ _ _ _ _ _ _ _ _</strong>, but the accused insisted it all just amounted to a <strong>_ _ _ _ _ _ _ _ _ _ _</strong>.</p>
