{% load static %}
<div class="crossword_grid_container">
    <img src="{% static 'puzzles/untitled_2023/circuits.png' %}">
</div>

<h2>ROWS</h2>
<p>
    A. Even<br>
    Glenlivet, for instance<br>
    Longed for
</p>
<p>
    B. Bart and Lisa Simpson feature<br>
    Controversy
</p>
<p>
    C. Areas of expertise<br>
    Matthew's <em>Election</em> costar<br>
    Latin light
</p>
<p>
    D. Cigarette options<br>
    Strokes gently<br>
    Simmer to concentrate flavor
</p>
<p>
    E. Mexican shawl<br>
    iCarly's last name<br>
    Victorious
</p>
<p>
    F. Play the lead<br>
    Pass<br>
    National socialism, for one, per Walter Sobchak
</p>
<p>
    G. Full-bodied<br>
    Texas city that was home to Perot Systems<br>
    Kitten noises
</p>
<p>
    H. Gen 3 Pokémon that eats bridges and train tracks<br>
    Chemical variations<br>
    Home of the cowabunga lifestyle
</p>
<p>
    I. Get rid of, as a note<br>
    Did away with
</p>
<p>
    J. Quit<br>
    Tube inserted to keep an anatomical vessel open<br>
    ___ Runner (1983 video game noted for its level editor)
</p>
<p>
    K. Did away with<br>
    Element discovered by Masataka Ogawa, who mistakenly believed it was technetium<br>
    Less than fair
</p>
<p>
    L. Ink<br>
    Martínez of the Red Sox<br>
    Like a Deuce Coupe
</p>
<p>
    M. Theater part<br>
    To an extent<br>
    Wild
</p>
<p>
    N. Inflated self-regards<br>
    Buffering
</p>
<p>
    O. Curl one's lip<br>
    Acts<br>
    Seeing red
</p>

<h2>CIRCUITS</h2>
<ol>
    <li>Bettie Page media (3-3)</li>
    <li>Raises animals (6)</li>
    <li>Did away with (8)</li>
    <li>Like difficult to solve crimes (10)</li>
    <li>Slips away (6)</li>
    <li>Some stone fruits (8)</li>
    <li>More malleable (10)</li>
    <li>Equalities (8)</li>
    <li>Exactly right (2 3 5)</li>
    <li>Instruments that accompany fifes (6)</li>
    <li>Mormon officials (8)</li>
    <li>Leaders of the pack (6)</li>
    <li>Moves like a bird of prey (6)</li>
    <li>Develops a resistance (6)</li>
    <li>Songwriter King (6)</li>
    <li>Made like Falstaff (8)</li>
    <li>Rick Allen, Neil Peart, and others (8)</li>
    <li>Left out (6)</li>
    <li>Least complicated (8)</li>
    <li>Goat-related occupation (6)</li>
    <li>Curmudgeon (10)</li>
    <li>Order of nuns known for their vow of poverty (4 6)</li>
    <li>Related to a specific artery (6)</li>
    <li>Threw at (6)</li>
    <li>Joe Jr., relative to Jack, Bobby, and Ted (6)</li>
    <li>Butchering left-overs (6)</li>
    <li>Situate (8)</li>
    <li>Arranged again (8)</li>
    <li>Undergoing mitosis (8)</li>
</ol>

<p>Circuit answers are entered clockwise starting in the corresponding shaded square.</p>
<img src="{% static 'puzzles/untitled_2023/circuits_example.png' %}">
