{% load static %}
<div class="crossword_grid_container">
    <img src="{% static 'puzzles/untitled_2023/crossword_grid.png' %}">
</div>

<h2>ACROSS</h2>
<ul>
    <li>"A species of turf used for fire," according to Samuel Johnson</li>
    <li>Act like</li>
    <li>Agreed</li>
    <li>Boxer Laila</li>
    <li>Cause irritation</li>
    <li>Chonky</li>
    <li>Club that's the subject of a Lee Trevino quip</li>
    <li>Colorer</li>
    <li>Cooper/Lawrence collabo</li>
    <li>Country in the name of a modified rum and coke</li>
    <li>Disfigure</li>
    <li>Drunkards</li>
    <li>Energy drink named for a type of engine</li>
    <li>Err</li>
    <li>Exam taken for uni. credit</li>
    <li>Hamlet, vis-a-vis Claudius</li>
    <li>Implied</li>
    <li>Jane Fonda film</li>
    <li>Japanese short sword</li>
    <li>Life story</li>
    <li>Moments</li>
    <li>Mythical victim of fratricide</li>
    <li>Nighttime annoyance</li>
    <li><em>Now We Are Six</em> poet</li>
    <li>Paint one's name</li>
    <li>Pitcher's stat.</li>
    <li>Resting on</li>
    <li>Says</li>
    <li>Shakespearean plot device</li>
    <li>Something found on a schematic diagram, perhaps</li>
    <li>Sound with constant frequency, phase-shift, and amplitude, at least according to Wikipedia, I don't know, this probably shouldn't be on my word list</li>
    <li>Subject of some online discourse</li>
    <li>Van Halen song about a car, not a country</li>
    <li>Vocal range</li>
    <li>West of Hollywood</li>
    <li>What a bard might do to a door</li>
    <li>Where the Ninja Turtles live, with "The"</li>
    <li>"While" predecessor</li>
    <li>Wonder Woman weapon</li>
</ul>

<h2>DOWN</h2>
<ol>
    <li>Honeydew relative</li>
    <li>Word derived from a 16th century novel</li>
    <li>Nadir</li>
    <li>Exedra</li>
    <li>Climbing palms used to make canes</li>
    <li>In the manner of</li>
    <li>Cramped</li>
    <li>Grapes used to make Asti</li>
    <li>Nice time of year</li>
    <li>Hoffman's <em>Kramer vs. Kramer</em> counterpart</li>
    <li>Medium</li>
    <li>Vessels</li>
    <li>Exam often taken by sophs</li>
    <li>Cotter key</li>
    <li>Press the matter</li>
    <li>Ignoring, with "without"</li>
    <li>Timidity</li>
    <li>Muckraker Tarbell</li>
    <li>Archaic French coin</li>
    <li>Choose</li>
    <li>It comes before some names</li>
    <li>Operate</li>
    <li>Issue covered by the Cartagena Protocol</li>
    <li>Buffoon</li>
    <li>Hot goss</li>
    <li>Lanai accessory</li>
    <li>Detaches</li>
    <li>How some peanut butter is eaten</li>
    <li>Comforting illusion</li>
    <li>Once in a blue moon</li>
    <li>Controlled analgesic</li>
    <li>He acted opposite Brooke on <em>Suddenly Susan</em></li>
    <li>Concert venue</li>
    <li>Sites of some rubs</li>
    <li>Pen</li>
    <li>Like for the first time</li>
    <li>Hot tech product of 2010</li>
    <li>Disfigure</li>
    <li>Cho and Luna's classmate</li>
</ol>
