{% load static %}
<a href="{% static 'puzzles/untitled_2023/fight_club/toothsome_chad.png' %}"><img src="{% static 'puzzles/untitled_2023/fight_club/toothsome_chad.png' %}" height=200></a>
<a href="{% static 'puzzles/untitled_2023/fight_club/blind_hitler_cheek.png' %}"><img src="{% static 'puzzles/untitled_2023/fight_club/blind_hitler_cheek.png' %}" height=200></a>
<a href="{% static 'puzzles/untitled_2023/fight_club/farmer_lip.png' %}"><img src="{% static 'puzzles/untitled_2023/fight_club/farmer_lip.png' %}" height=200></a>
<a href="{% static 'puzzles/untitled_2023/fight_club/moose_mink_dingo.png' %}"><img src="{% static 'puzzles/untitled_2023/fight_club/moose_mink_dingo.png' %}" height=200></a>
<a href="{% static 'puzzles/untitled_2023/fight_club/mr_bind.png' %}"><img src="{% static 'puzzles/untitled_2023/fight_club/mr_bind.png' %}" height=200></a>
<a href="{% static 'puzzles/untitled_2023/fight_club/pee_in_fake_thigh.png' %}"><img src="{% static 'puzzles/untitled_2023/fight_club/pee_in_fake_thigh.png' %}" height=200></a>
<a href="{% static 'puzzles/untitled_2023/fight_club/rainy_semi_thorax.png' %}"><img src="{% static 'puzzles/untitled_2023/fight_club/rainy_semi_thorax.png' %}" height=200></a>
<a href="{% static 'puzzles/untitled_2023/fight_club/salon_ions.png' %}"><img src="{% static 'puzzles/untitled_2023/fight_club/salon_ions.png' %}" height=200></a>
<a href="{% static 'puzzles/untitled_2023/fight_club/tenth_yurt_whiff.png' %}"><img src="{% static 'puzzles/untitled_2023/fight_club/tenth_yurt_whiff.png' %}" height=200></a>
<a href="{% static 'puzzles/untitled_2023/fight_club/tidy_trio_sac.png' %}"><img src="{% static 'puzzles/untitled_2023/fight_club/tidy_trio_sac.png' %}" height=200></a>
