<p class="flavor">My drink's gone flat, please help.</p>

<p>
    <a href="https://enigma.puzzlers.org/guide/arrange#transposal">TRANSPOSAL</a> (*6, 6) [6]<br>
    As I told Calista before she read for <em>Ally SNAG</em><br>
    "Relax, don't panic, SANG yourself, you have this in the bag."
</p>

<p>
    <a href="https://enigma.puzzlers.org/guide/non-guide/ngflats#freewheeling">FREEWHEELING</a> <a href="https://enigma.puzzlers.org/guide/common#consonantcy">CONSONANTCY</a> (4 5, 4 2, 7; FAUNA = not dictionary nature) [1]<br>
    It's been showering off and on all week,<br>
    And from those clouds it will FAUNA, I think<br>
    So I'll pass on Times Square and order in<br>
    FAN the New Year with dumplings and crab FIN
</p>

<p>
    <a href="https://enigma.puzzlers.org/guide/common#bank">LETTER BANK</a> (*7, 10, *5 *6) [7]<br>
    I slip up and down the MID in my machine<br>
    (It's based on the Wells design, so very clean!)<br>
    I'll party with SHORT and Demeter in Greece<br>
    Before helping Jason escape with that fleece<br>
    Then LONG, Grand Duchess of Luxembourg, I'll take<br>
    To meet her more famous Austrian namesake
</p>

<p>
    TRANSPOSAL (8) [3]<br>
    With my skateboard and backwards hat, I'm a hip young SCRAP<br>
    And I love to CARPS dank memes with the new WackyPhoto™ app!
</p>

<p>
    <a href="https://enigma.puzzlers.org/guide/change#change">THIRD-LETTER CHANGE</a> (7) [4] <br>
    Al Capone is soaked right through<br>
    You've never seen a ONE TWO
</p>

<p>
    CONSONANTCY (4, 2 4, 6) [2] <br>
    Georgia, Arial, Comic Sans, Times New<br>
    Roman and Gotham are some ONEs TWO<br>
    (The list is nearly not THREE, it's true)
</p>

<p>
    FIRST-LETTER CHANGE (4) [3] <br>
    For my birthday, my favorite meal I'll make:<br>
    ONE beans, mayonnaise, and some chocolate TWO cake<br>
    (You say it sounds like a dinner from hell?<br>
    I swear the tastes go together well!)
</p>

<p>
    TRANSPOSAL (5) [4] <br>
    "So, Chuck," I say, "With those FIRST ears,"<br>
    "Out and about, you must get jeers!"<br>
    "The crown on your head just looks absurd."<br>
    He shuts me up with a SECOND THIRD.
</p>

<p>
    LAST LETTER CHANGE (*4, 4) [1]<br>
    I interview stars of the big and small screen<br>
    As part of my job at <em>Soup and Stew Magazine</em><br>
    I asked Mandy and LIAM, "If not for the fire,"<br>
    "Would that chili have been spicy or LIAR?"
</p>

<p>
    FREEWHEELING CONSONANTCY (7, 2 1 6) (AUSTIN = not dictionary nature) [6]<br>
    I scare people at STONEs like Shenzhen and Boston<br>
    By showing up with an eyepatch and dressed AUSTIN
</p>

<p>4 (overloaded, but any will work), 4, *5, 5, 6, *6, *7, *8, 5 3, *6 *4</p>
