<p>"There once was a Young Lady of Bute/Who played on a silver-gilt flute/She played several jigs/To her uncle's white picts/That amusing Young Lady of Bute", for instance (4)</p>
<p>Tax levied on an African gem or European wine, for example (8)</p>
<p>European country with an all-volunteer military since May 1, 1997 (4)</p>
<p>2006 was the centennial of this dramatist's birth (13)</p>
<p>Term for methanol implying it was produced from an evergreen or pine tree (9)</p>
<p>Value that (by one measure) reached a pre-COVID peak in the time of peace gardens and Rosie the Riveter (4)</p>
<p>Portion of the natural world that includes birds, bees, and badgers (2)</p>
<p>Term for an organizaton like Hawkeye's employer SHIELD or Black Widow's KGB (4)</p>
<p>"I'm going to finish first," perhaps (4)</p>
<p>"Sooner with half a loaf contented be/And water from a broken crock, like me/Than lord it over one poor fellow man/Or to another bow the vassal knee" poet (per E. H. Whinfield) (4)</p>
<p>X-24, vis-a-vis Wolverine (9)</p>
<p>Decoration that shouldn't in City Hall, per the Constitution (4)</p>
<p>You can say "aloha" to it when leaving a job (8)</p>
<p>Tom Cruise in <em>Magnolia</em> and Greg Kinnear in <em>Little Miss Sunshine</em> play characters with this profession (14)</p>
<p>Monument on the Canadian border that sounds like it has a keystone (3)</p>
<p>You can use this gadget to get free change and bottlecaps (13)</p>
<p>Richard Nixon delivered a eulogy for this man, who used his leadership in the National Urban League to fight for equality nationwide (4)</p>
