{% load static %}
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/babe.png' %}"> <span style="font-size: 1.5em; color: blue;"><strong>BABE</strong></span></p>
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/beppo.png' %}"> BEPPO</p>
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/bingo.png' %}"> BINGO</p>
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/boxer.png' %}"> BOXER</p>
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/foghorn_leghorn.png' %}"> FOGHORN LEGHORN</p>
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/harvey.png' %}"> HARVEY</p>
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/muriel.png' %}"> MURIEL</p>
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/napoleon.png' %}"> NAPOLEON</p>
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/remy.png' %}"> REMY</p>
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/richard_parker.png' %}"> RICHARD PARKER</p>
<p class="animal_farm"><img src="{% static 'puzzles/untitled_2023/literally_animal_farm/smaug.png' %}"> SMAUG</p>
