*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
.static_storage/
.media/
local_settings.py
db.sqlite3
todo.md
todo.html
.env
__pycache__
django_env
static