<!DOCTYPE html>
<html>
	<head>
		<title>{{ meta.name }}</title>
		{% load static %}
		{% load puzzle_template_filters %}
		<link rel="stylesheet" type="text/css" href="{% static 'puzzles/style.css' %}">
	</head>
	<body>
		{% include "users/header.html" %}

		{% if meta|solved_by:user %}
			<h3>SOLVED -- {{ meta.answer }}</h3>
		{% else %}
			<h1 class="title">{{ meta.name }}</h1>
			<form action="{% url 'puzzles:check_answer' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="type" value="meta">
				<input type="hidden" name="id" value="{{ meta.id }}">
				<input type="text" name="answer" placeholder="Check answer...">
				<input type="submit" value="Submit">
			</form>
		{% endif %}

		{% if messages %}
			{% autoescape off %}
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			{% endautoescape %}
		{% endif %}

		{% include meta_url %}

		<p><a href="{% url 'puzzles:index' %}">Back</a></p>

		{% if answer_submissions %}
			<div id="answer_log_div">
				<h3 id="answer_log_h3">Answer log (click to reveal)</h3>
				<ul id="answer_log" hidden>
					{% for answer in answer_submissions %}
						<li>{{ answer.answer }} -- <strong>{% if answer.correct %} CORRECT {% else %} INCORRECT {% endif %}</strong> </li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</body>

	<script type="text/javascript" src="{% static 'puzzles/show_answer_log.js' %}"></script>
</html>