<p class="flavor">It really is that simple.</p>
<table class="cryptic">
	<tr>
		<td class="thick-top thick-left">1</td>
		<td class="thick-top">2</td>
		<td class="thick-top">3</td>
		<td class="thick-top thick-right thick-bottom"></td>
		<td class="thick-top thick-left thick-bottom">4</td>
		<td class="thick-top">5</td>
		<td class="thick-top thick-bottom"></td>
		<td class="thick-top">6</td>
		<td class="thick-top thick-right">7</td>
		<td class="thick-top thick-left thick-bottom">8</td>
		<td class="thick-top">9</td>
		<td class="thick-top">10</td>
		<td class="thick-top thick-right">11</td>
	</tr>
	<tr>
		<td class="thick-left">12</td>
		<td class=""></td>
		<td class=""></td>
		<td class="thick-top thick-bottom"></td>
		<td class="thick-top thick-right">13</td>
		<td class="thick-left">14</td>
		<td class="thick-top">15</td>
		<td class=""></td>
		<td class=""></td>
		<td class="thick-top">16</td>
		<td class="thick-right"></td>
		<td class="thick-left thick-right"></td>
		<td class="thick-right"></td>
	</tr>
	<tr>
		<td class="thick-left thick-right"></td>
		<td class="thick-left thick-bottom">17</td>
		<td class=""></td>
		<td class="thick-top">18</td>
		<td class="thick-right"></td>
		<td class="thick-left thick-right"></td>
		<td class="thick-left">19</td>
		<td class="thick-bottom"></td>
		<td class=""></td>
		<td class=""></td>
		<td class="thick-bottom"></td>
		<td class=""></td>
		<td class="thick-right"></td>
	</tr>
	<tr>
		<td class="thick-left thick-right"></td>
		<td class="thick-top thick-left">20</td>
		<td class="thick-bottom"></td>
		<td class=""></td>
		<td class=""></td>
		<td class="thick-bottom thick-right"></td>
		<td class="thick-left thick-right"></td>
		<td class="thick-left thick-top">21</td>
		<td class=""></td>
		<td class=""></td>
		<td class="thick-top">22</td>
		<td class="thick-bottom thick-right"></td>
		<td class="thick-left thick-right"></td>
	</tr>
	<tr>
		<td class="thick-left">23</td>
		<td class=""></td>
		<td class="thick-top">24</td>
		<td class=""></td>
		<td class=""></td>
		<td class="thick-top">25</td>
		<td class="thick-right"></td>
		<td class="thick-left thick-right"></td>
		<td class="thick-left">26</td>
		<td class="thick-bottom"></td>
		<td class=""></td>
		<td class="thick-top thick-right">27</td>
		<td class="thick-left thick-right"></td>
	</tr>
	<tr>
		<td class="thick-left thick-right"></td>
		<td class="thick-left thick-right"></td>
		<td class="thick-left">28</td>
		<td class="thick-bottom"></td>
		<td class=""></td>
		<td class=""></td>
		<td class="thick-bottom"></td>
		<td class="thick-right"></td>
		<td class="thick-left thick-bottom">29</td>
		<td class="thick-top thick-bottom"></td>
		<td class=""></td>
		<td class=""></td>
		<td class="thick-right"></td>
	</tr>
	<tr>
		<td class="thick-bottom thick-left">30</td>
		<td class="thick-bottom"></td>
		<td class="thick-bottom"></td>
		<td class="thick-top thick-right thick-bottom"></td>
		<td class="thick-left thick-bottom">31</td>
		<td class="thick-bottom"></td>
		<td class="thick-top thick-bottom"></td>
		<td class="thick-bottom"></td>
		<td class="thick-top thick-bottom thick-right"></td>
		<td class="thick-top thick-bottom thick-left">32</td>
		<td class="thick-bottom"></td>
		<td class="thick-bottom"></td>
		<td class="thick-bottom thick-right"></td>
	</tr>
</table>
<p>This is a cryptic crossword; you can learn more about solving them <a href="http://www.puzzazz.com/how-to/cryptic-crosswords">here</a>.  In addition to the standard cryptic rules, one entry in each row must have a letter inserted before being entered in the grid.  (Modified entries are all real words.)  For all other across entries, the wordplay portion will yield a letter sequence with one extraneous letter.</p>

<h3>Across</h3>
<ol>
	<li value="1">	Pamper before drinking red wine</li>
	<li value="4">	Drunkard swallowed nothing but ashes</li>
	<li value="8">	Slam boy President, who loses his head</li>
	<li value="12">	Join with regressive Martinez inside European Union</li>
	<li value="14">	I'm embroiled in brouhahas for so long</li>
	<li value="17">	Tabernacle architecture conceals organ</li>
	<li value="19">	Pete Seeger's group flutters around southeast</li>
	<li value="20">	Let turn yellow</li>
	<li value="21">	Foul-smelling row</li>
	<li value="23">	Search crazily for someone following you</li>
	<li value="26">	Beers in the west of Britain</li>
	<li value="28">	Angry about Greek woman showing up before the start of elegant party</li>
	<li value="29">	Trace of tin found among sulfur, argon, lead...</li>
	<li value="30">	It's a mistake to pry awkwardly</li>
	<li value="31">	Uptight Greek character removed from yearbook</li>
	<li value="32">	Actors Bruce and Laura voiced pitchers</li>
</ol>

<h3>Down</h3>
<ol>
	<li value="1">	Gossip and hem endlessly about haircut (7)</li>
	<li value="2">	One of a nation's young leaders (3)</li>
	<li value="3">	In Bojack Horseman, gubernatorial candidate rejects leftist label and embraces extreme conclusion (4)</li>
	<li value="5">	Rabbit's head stuffed in uncooked beef produces something unpleasant to eat (4)</li>
	<li value="6">	Tribute to model stripped bare (3)</li>
	<li value="7">	Actress Reid's holding on to current collection of royal headwear (6)</li>
	<li value="9">	Employ second-person form of address for group of Brooklyn auditors (3)</li>
	<li value="10">	Change permanently to black! (4)</li>
	<li value="11">	Pretentious snobs at cross purposes lose bit of poise (7)</li>
	<li value="13">	Broke up with innately nice adult (6)</li>
	<li value="15">	Know about a good for sale (5)</li>
	<li value="16">	Eggs: large, round (4)</li>
	<li value="18">	Put another way, Laos is something else (4)</li>
	<li value="20">	"Hello, sailor!" A prostitute, yes?  (4)</li>
	<li value="21">	Request to jump back to front (3)</li>
	<li value="22">	Ran around, excited at first, around, around (4)</li>
	<li value="24">	Snake was possibly hiding something (3)</li>
	<li value="25">	Feminist goal of another time (3)</li>
	<li value="27">	Endlessly confess wrongdoing (3)</li>
</ol>

<p><a href="{% url 'puzzles:show_puzzle' puzzle.puzzle_set.top_level_puzzle.id %}">Back</a></p>