{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'puzzles/multi_meta/mosaic.css' %}">

<div class="pentomino">
	<table>
		<tr>
			<td></td>
			<td></td>
			<td class="dashed-left solid-top dashed-right dashed-bottom">O</td>
		</tr>
		<tr>
			<td class="dashed-top solid-left dashed-bottom solid-right">R</td>
			<td class="dashed-top solid-left solid-right dashed-bottom">A</td>
			<td class="solid-right dashed-bottom solid-left dashed-top">T</td>
		</tr>
		<tr>
			<td></td>
			<td class="dashed-all">I</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td class="solid-left solid-right dashed-top dashed-bottom">O</td>
		</tr>
		<tr>
			<td class="solid-right dashed-top dashed-bottom dashed-left">D</td>
		</tr>
		<tr>
			<td class="solid-left solid-right dashed-left dashed-right">S</td>
		</tr>
		<tr>
			<td class="solid-right dashed-left dashed-top dashed-bottom">E</td>
		</tr>
		<tr>
			<td class="solid-left solid-right dashed-top dashed-bottom">T</td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td class="solid-left solid-top dashed-right dashed-bottom">D</td>
			<td class="solid-top dashed-bottom dashed-left dashed-right">I</td>
			<td class="solid-top dashed-bottom dashed-left dashed-right">A</td>
			<td class="solid-top dashed-right dashed-bottom dashed-left">L</td>
		</tr>
		<tr>
			<td class="solid-left dashed-bottom dashed-top dashed-right">N</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td class="solid-top solid-right dashed-left dashed-bottom">S</td>
			<td></td>
		</tr>
		<tr>
			<td class="dashed-all">A</td>
			<td class="solid-top solid-right solid-bottom dashed-left">L</td>
		</tr>
		<tr>
			<td></td>
			<td class="solid-top solid-bottom dashed-left dashed-right">M</td>
		</tr>
		<tr>
			<td></td>
			<td class="solid-top solid-bottom dashed-left dashed-right">R</td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td class="solid-top dashed-bottom dashed-left dashed-right">D</td>
			<td class="solid-top dashed-bottom dashed-left dashed-right">N</td>
			<td class="solid-top dashed-bottom dashed-left dashed-right">A</td>
		</tr>
		<tr>
			<td class="solid-left solid-right dashed-top dashed-bottom">U</td>
			<td class="solid-left solid-right dashed-top dashed-bottom">A</td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td></td>
			<td class="solid-left dashed-top dashed-bottom dashed-right">S</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="solid-right dashed-top dashed-bottom dashed-left">E</td>
			<td></td>
		</tr>
		<tr>
			<td class="solid-top solid-bottom dashed-left dashed-right">M</td>
			<td class="solid-bottom dashed-top dashed-left dashed-right">D</td>
			<td class="solid-top solid-bottom solid-right dashed-left">E</td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td class="solid-top dashed-left dashed-right solid-bottom">M</td>
			<td></td>
			<td class="solid-top dashed-left dashed-right solid-bottom">N</td>
		</tr>
		<tr>
			<td class="dashed-left solid-bottom solid-top dashed-right">E</td>
			<td class="solid-bottom dashed-top dashed-left dashed-right">T</td>
			<td class="solid-bottom dashed-right solid-top dashed-left">O</td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td></td>
			<td></td>
			<td class="solid-top solid-bottom solid-left dashed-right">O</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td class="solid-top solid-bottom dashed-left dashed-right">V</td>
		</tr>
		<tr>
			<td class="solid-top solid-bottom solid-left dashed-left">P</td>
			<td class="dashed-all">R</td>
			<td class="solid-top solid-bottom dashed-left dashed-right">O</td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td class="dashed-all">P</td>
			<td class="solid-top solid-bottom dashed-left dashed-right">A</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="solid-top solid-bottom solid-right dashed-left">Y</td>
			<td class="solid-left dashed-top dashed-bottom dashed-right">T</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td class="solid-right dashed-top dashed-bottom dashed-left">I</td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td></td>
			<td class="solid-left solid-right dashed-top dashed-right">U</td>
			<td></td>
		</tr>
		<tr>
			<td class="solid-left dashed-top dashed-bottom dashed-right">U</td>
			<td class="dashed-top dashed-bottom dashed-left dashed-right">N</td>
			<td class="dashed-all">K</td>
		</tr>
		<tr>
			<td></td>
			<td class="solid-left solid-right dashed-top dashed-bottom">N</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td class="solid-top dashed-left dashed-right dashed-bottom">I</td>
			<td class="solid-top solid-bottom dashed-left dashed-right">B</td>
			<td class="solid-top dashed-bottom dashed-left dashed-right">N</td>
			<td class="solid-top solid-bottom dashed-left dashed-right">A</td>
		</tr>
		<tr>
			<td></td>
			<td class="solid-top solid-bottom dashed-left dashed-right">J</td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
<div class="pentomino">
	<table>
		<tr>
			<td class="solid-left solid-top dashed-bottom dashed-right">M</td>
			<td class="solid-top dashed-left dashed-bottom dashed-right">E</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="solid-left solid-right dashed-top dashed-right">M</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="dashed-all">O</td>
			<td class="dashed-all">T</td>
		</tr>
	</table>
</div>
<ul>
	<li>As a pair, with "in"</li>
	<li>Beast of the wild</li>
	<li>Easy as pie</li>
	<li>Existential weariness</li>
	<li>"Face with Tears of Joy" is a notable one</li>
	<li>Firebombs, in a way</li>
	<li>London ___, hotel heiress from <em>The Suite Life of Zack and Cody</em></li>
	<li>Mean or cruel</li>
	<li>Obligation</li>
	<li>PDQ</li>
	<li>Plant that possibly gave gumbo its name</li>
	<li>Political theorist Burke</li>
	<li>Prototypically interesting news</li>
	<li>Some screenwriters' specialty <em>(var)</em></li>
	<li>Treaty never ratified due to the Soviet invasion of Afghanistan</li>
	<li>Very much so, to a frat boy</li>
	<li>Yen</li>
</ul>
