<p>Eight American swimmers are practicing for the Olympics!  Each has a different first name (including Emily), last name (including Hall-Odom), and home city (including Charlotte), and each practices a different number of whole hours per day between 1 and 8.</p>

<ol>
	<li>Ms. Ironwood practices fewer hours per day than Ms. Stafford.</li>
	<li>Ms. Holloway, Ms. Marshall, and Ms. Williams all practice 6 or fewer hours per day.</li>
	<li>Hazel practices an even number of hours per day.</li>
	<li>Ms. De La Cruz practices 7 hours per day <strong>IF AND ONLY IF</strong> Ms. Williams is the swimmer from San Diego.</li>
	<li>Abigail Castillo is not from Boulder.</li>
	<li>Gladys and Hazel are from Escondido and San Diego, in some order.</li>
	<li>The person from Allentown practices more than Ms. De La Cruz, who practices more than Hazel.</li>
	<li>Denise (who is not Ms. De La Cruz) and Faith both practice 6 or more hours per day.</li>
	<li>The swimmer from Austin pratices 6 hours per day.</li>
	<li><strong>EITHER</strong> the swimmer from Seattle practices at least 7 hours per day <strong>OR</strong> Ms. Marshall is the swimmer from Phoenix.</li>
	<li>Beth (who is not from Allentown), Ms. Williams, the woman from Boulder, and the woman who practices four hours per day all have the same trainer.</li>
	<li>The people who practice the least are Abigail, Charlize, and Ms. Stafford, in some order.</li>
	<li>Ms. Ironwood is from Seattle or Austin.</li>
</ol>
