<p>This William Hurt vehicle focuses on a heroine with all the powers of an arachnid's embrace. ☆☆☆☆</p>
<p>Taye Diggs stars as hero who's just the greatest. ☆☆</p>
<p>The hero sure plays a mean pinball in this team-up of SNL stars. ☆☆</p>
<p>In this period piece from Ron Howard, the central figure KOs his wicked stepsisters. ☆</p>
<p>Steve Harvey has a cameo as himself in this movie about a hero who has the ability to put himself in anyone's shoes. ☆☆☆☆☆</p>
<p>Anna Chlumsky plays a possessive heroine whose archnemesis is bee allergies. ☆☆☆☆</p>
<p>Al Franken co-wrote this film about an alcoholic heroine with a super ability to sing Percy Sledge songs. ☆☆☆☆</p>
<p>Rosamund Pike picked up an Oscar nomination for playing the heroine who's always out in this movie. ☆☆☆☆☆</p>
<p>The titular heroine is also witty and bright in this rom-com directed by Garry Marshall. ☆</p>
<p>Dustin Hoffman's old-age make-up is astounding in this tale of an oxymoronic hero who's just the right size. ☆☆☆☆☆</p>
<p>This bromance features Paul Rudd as a hero who's very open about his feelings. ☆☆☆</p>
<p>Zither music and post-war Vienna take center stage in this tale of Cain. ☆☆☆☆</p>
<p>This Dashiell Hammett adaptation features a slender hero. ☆☆☆☆</p>
<p>John Wayne stars as a hero who's always seen but not heard. ☆☆☆☆☆</p>
<p>This 2018 Aardman Animations film features a hero who's always better than just on time. ☆☆☆</p>
<p>This movie about a heroine with a very distinct odor earned its star a long-overdue Best Actor Oscar. ☆☆☆☆</p>
