{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'puzzles/multi_meta/swatches.css' %}">

<table class="background">
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td class="red"></td> <td></td> <td class="green"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td class="green"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="blue"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="green"></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="yellow"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td class="blue"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="red"></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="orange"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="indigo"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="violet"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="blue"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="violet"></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="blue"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td class="green"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="yellow"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td class="blue"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="orange"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="indigo"></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td class="yellow"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="yellow"></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td class="green"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="orange"></td> <td></td> <td></td> <td></td> <td></td> <td class="blue"></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="red"></td> <td class="violet"></td> <td></td> <td></td> <td></td> <td></td> <td class="blue"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="red"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td class="yellow"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td class="blue"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="green"></td> <td></td> <td></td> <td></td> <td></td> <td class="red"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="red"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td class="indigo"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td class="violet"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td class="indigo"></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td class="orange"></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>
</table>

<h3>5</h3>
<ul>
	<li>Civil War-era fiat currency</li>
	<li>Permission to live and work in the US, informally</li>
	<li>Duke Ellington jazz standard</li>
	<li>College football game held in Miami</li>
	<li>Extremely loyal; genuine</li>
</ul>

<h3>6</h3>
<ul>
	<li>Fruit also known as a sanguinello</li>
	<li>Patrician</li>
	<li>Architectural plans</li>
	<li>The largest animal ever known</li>
	<li>Weezer's second self-titled release, with "The"</li>
	<li>Feature of some upscale gardens</li>
	<li>"Galileo" band</li>
	<li>Light just outside the visible spectrum</li>
	<li>Tropicana product</li>
	<li>International humanitarian organization</li>
	<li>Light just outside the visible spectrum (on the other side)</li>
	<li>Northwest Territories capital</li>
	<li>Reference material once advertised with the slogan "Let Your Fingers Do the Walking"</li>
</ul>

<h3>7</h3>
<ul>
	<li>Unskilled, as labor</li>
	<li>Donovan song</li>
	<li>It includes Anaheim and Santa Ana</li>
	<li>Valve games collection</li>
</ul>

<h3>8</h3>
<ul>
	<li>Movie where Samuel L. Jackson is eaten by a shark</li>
	<li>Norse explorer that supposedly named Greenland</li>
</ul>

<h3>9</h3>
<ul>
	<li>Video game written and directed by David Cage where urination will raise your mental health</li>
	<li>1998 Terrence Malick film, with "The"</li>
</ul>

<h3>10</h3>
<ul>
	<li>Shy person</li>
	<li>Pathway ending at the Emerald City</li>
</ul>

<h3>11</h3>
<ul>
	<li>Basketball team coached by Mike Krzyzewski</li>
	<li>Hugh Grant mafia comedy</li>
</ul>

<h3>12</h3>
<ul>
	<li>Personification of a deadly sin possibly originating from Othello</li>
	<li>Very rare</li>
	<li>Gum-chewer from a 1964 children's book</li>
</ul>

<h3>15</h3>
<ul>
	<li>Couplet often followed by "Sugar is sweet/And so are you"</li>
</ul>

<h3>16</h3>
<ul>
	<li>Genetic condition (the most common of its type) that might make solving this puzzle more difficult</li>
</ul>

<h3>17</h3>
<ul>
	<li>Fairy tale featuring the line, "My, grandma, what a big mouth you have!"</li>
</ul>

<h3>18</h3>
<ul>
	<li>Home of Old Faithful</li>
</ul>

<p><em><a href="{% static 'puzzles/multi_meta/swatches.pdf' %}">Printable version</a></em></p>
