<table class="name_puzzle">
	<tr>
		<td>
			<p class="left">L</p>
			<p class="center">M</p>
			<p class="right">W</p>
		</td>
		<td>
			<p class="left">I</p>
			<p class="center">I</p>
			<p class="right">M</p>
		</td>
		<td>
			<p class="left">C</p>
			<p class="center">K</p>
			<p class="right">S</p>
		</td>
		<td>
			<p class="left">E</p>
			<p class="center">M</p>
			<p class="right">K</p>
		</td>
		<td>
			<p class="left">E</p>
			<p class="center">S</p>
			<p class="right">Y</p>
		</td>
		<td>
			<p class="left">A</p>
			<p class="center">D</p>
			<p class="right">M</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="left">I</p>
			<p class="center">R</p>
			<p class="right">S</p>
		</td>
		<td>
			<p class="left">A</p>
			<p class="center">I</p>
			<p class="right">O</p>
		</td>
		<td>
			<p class="left">I</p>
			<p class="center">L</p>
			<p class="right">S</p>
		</td>
		<td>
			<p class="left">A</p>
			<p class="center">E</p>
			<p class="right">L</p>
		</td>
		<td>
			<p class="left">A</p>
			<p class="center">N</p>
			<p class="right">T</p>
		</td>
		<td>
			<p class="left">I</p>
			<p class="center">T</p>
			<p class="right">V</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="left">B</p>
			<p class="center">C</p>
			<p class="right">G</p>
		</td>
		<td>
			<p class="left">D</p>
			<p class="center">E</p>
			<p class="right">H</p>
		</td>
		<td>
			<p class="left">A</p>
			<p class="center">M</p>
			<p class="right">R</p>
		</td>
		<td>
			<p class="left">E</p>
			<p class="center">I</p>
			<p class="right">S</p>
		</td>
		<td>
			<p class="left">N</p>
			<p class="center">R</p>
			<p class="right">T</p>
		</td>
		<td>
			<p class="left">D</p>
			<p class="center">E</p>
			<p class="right">G</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="left">A</p>
			<p class="center">H</p>
			<p class="right">L</p>
		</td>
		<td>
			<p class="left">I</p>
			<p class="center">M</p>
			<p class="right">R</p>
		</td>
		<td>
			<p class="left">A</p>
			<p class="center">P</p>
			<p class="right">T</p>
		</td>
		<td>
			<p class="left">D</p>
			<p class="center">N</p>
			<p class="right">T</p>
		</td>
		<td>
			<p class="left">D</p>
			<p class="center">I</p>
			<p class="right">L</p>
		</td>
		<td>
			<p class="left">D</p>
			<p class="center">D</p>
			<p class="right">E</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="left">A</p>
			<p class="center">G</p>
			<p class="right">T</p>
		</td>
		<td>
			<p class="left">A</p>
			<p class="center">E</p>
			<p class="right">R</p>
		</td>
		<td>
			<p class="left">L</p>
			<p class="center">N</p>
			<p class="right">T</p>
		</td>
		<td>
			<p class="left">E</p>
			<p class="center">H</p>
			<p class="right">T</p>
		</td>
		<td>
			<p class="left">C</p>
			<p class="center">L</p>
			<p class="right">P</p>
		</td>
		<td>
			<p class="left">E</p>
			<p class="center">L</p>
			<p class="right">L</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="left">A</p>
			<p class="center">S</p>
			<p class="right">Y</p>
		</td>
		<td>
			<p class="left">G</p>
			<p class="center">N</p>
			<p class="right">T</p>
		</td>
		<td>
			<p class="left">E</p>
			<p class="center">R</p>
			<p class="right">U</p>
		</td>
		<td>
			<p class="left">E</p>
			<p class="center">N</p>
			<p class="right">O</p>
		</td>
		<td>
			<p class="left">I</p>
			<p class="center">N</p>
			<p class="right">T</p>
		</td>
		<td>
			<p class="left">E</p>
			<p class="center">G</p>
			<p class="right">S</p>
		</td>
	</tr>
</table>
<ul>
	<li>Alfonoso II of Aragon</li>
	<li>Amyntas II of Macedon</li>
	<li>Charles III of West Francia</li>
	<li>Donald II of Scotland</li>
	<li>Frederick II, Elector of Saxony</li>
	<li>Magnus I of Sweden</li>
	<li>Malcolm IV of Scotland</li>
	<li>Ordoño IV of León</li>
	<li>Otto II, Duke of Brunswick-Lüneburg </li>
	<li>Pippin of Herstal</li>
	<li>Sigurd Eysteinsson</li>
	<li>William I, Prince of Orange</li>
</ul>
