<p class="flavor">With the world shifting so much every day, who knows what the future holds?</p>
<p>BISMA GWC BW BPM ABWZM</p>
<p>BUJI OEK BULYJQJU</p>
<p>BYJFW J KNPPJA</p>
<p>CZKGX DGY CYEV ROKBDC</p>
<p>DLXP LD YPNCZYZXTNZY TEPX</p>
<p>ESCW S TDGGV VGFSLAGF ESUZAFW</p>
<p>FTQR C RCKT QH DNWG JGCTVU</p>
<p>HSADCFOFM HFOBGQSBRSBQS</p>
<p>IVFVG GUR ZNEXRG</p>
<p>IWTU F MJFWY, PJD, GTRG, FSI HTNS</p>
<p>KS XS XVIEWYVI VSSQ</p>
<p>LMTM UHHLM TGW MXFIHKTKR AXTKM</p>
<p>MVYAF KHTHNL AV HSS LULTPLZ</p>
<p>RPAA SDLC BDB'H ATV</p>
<p>RQH URRP VSRRQ EHQGHU</p>
<p>SDMZFE RXUSTF</p>
<p>TQBXO UXP SFE IFBSUT</p>
<p>XZMVJ YFDZEX KVRIJ</p>
<p>ZKRKVUXZ ZU ZNK YNUV</p>

<p><a href="{% url 'puzzles:show_puzzle' puzzle.puzzle_set.top_level_puzzle.id %}">Back</a></p>