.title {
	text-align: center;
}

body {
	background-color: LightBlue;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

td, th {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

.flavor {
	font-style: italic;
}

code {
	background-color: #DDDDDD;
}

.solved {
	text-decoration: line-through;
}

.thick-top {
	border-top: 3px solid black;
}

.thick-bottom {
	border-bottom: 3px solid black;
}

.thick-left {
	border-left: 3px solid black;
}

.thick-right {
	border-right: 3px solid black;
}
