.title {
	text-align: center;	
}

body {
	background-color: LightBlue;
}

td, th {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

.assignments td {
	text-align: right;
}

.assignments td, .assignments th {
	width: 75px;
}

.letters td {
	width: 25px;
	height: 25px;
	text-align: center;
}

td.black {
	background-color: black;
	color: white;
}

td.yellow {
	background-color: yellow;
}

.pieces_of_8 td {
	border: none;
}

.pieces_of_8 td.bordered {
	border: 1px solid black;
}

.flavor {
	font-style: italic;
}

img {
	display: block;
	margin: 0 auto;
}

.max_path td {
	text-align: center;
	height: 40px;
	width: 40px;
}

.meta td {
	text-align: center;
	font-size: 1.4em;
	width: 150px;
	padding: 10px 0px;
}

code {
	background-color: #DDDDDD;
}