<p class="flavor">He's a real card.</p>

<p>Place your twelve cards in the grid below.  "Adjacent" means sharing an edge and "touching" means sharing an edge or corner; cell B2 is adjacent to 4 cards but is touching 8.  Aces are high.</p>

<ol>
    <li>Row 1 contains four cards of the same suit.  Row 2 contains one card from each suit.  No two cards of the same suit are adjacent in row 3.</li>
    <li>Under blackjack scoring, column A would have 16, B would have 14, and C and D would be bust.</li>
    <li>Other than two 3s in row 3, no two cards of the same rank touch.</li>
    <li>Column B is in descending order.</li>
    <li>There is a 2 in the grid that's a adjacent to a king, a 10, and a 4.</li>
    <li>The card in D3 is of higher rank than every card adjacent to it.</li>
</ol>

<table class="joker">
    <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
    </tr>
    <tr>
        <th>1</th>
        <td>1</td>
        <td>3</td>
        <td>8</td>
        <td>7</td>
    </tr>
    <tr>
        <th>2</th>
        <td>2</td>
        <td>7</td>
        <td>6</td>
        <td>8</td>
    </tr>
    <tr>
        <th>3</th>
        <td>7</td>
        <td>6</td>
        <td>8</td>
        <td>5</td>
    </tr>
</table>
