{% load static %}
<p class="flavor"><em>Once Upon A Time In Hollywood</em> features Old Hollywood genre stars, shocking violence, and some other things Quentin Tarantino likes.</p>

<p>
    <img src="{% static 'puzzles/the_oscars/1.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/1.png' %}" width=100>
</p>
<p>
    <img src="{% static 'puzzles/the_oscars/2.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/2.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/2.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/2.png' %}" width=100>
</p>
<p>
    <img src="{% static 'puzzles/the_oscars/3.png' %}" width=100>
</p>
<p>
    <img src="{% static 'puzzles/the_oscars/4.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/4.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/4.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/4.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/4.png' %}" width=100>
</p>
<p>
    <img src="{% static 'puzzles/the_oscars/5.png' %}" width=100>
</p>
<p>
    <img src="{% static 'puzzles/the_oscars/6.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/6.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/6.png' %}" width=100>
</p>
<p>
    <img src="{% static 'puzzles/the_oscars/7.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/7.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/7.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/7.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/7.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/7.png' %}" width=100>
    <img src="{% static 'puzzles/the_oscars/7.png' %}" width=100>
</p>
