<p class="flavor">Critics praised <em>The Irishman</em> for its use of de-aging technology.</p>

<p>Cells with the same color contain the same letter.</p>

<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered highlight"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered highlight"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter"> </div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered highlight"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered highlight"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered highlight"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
<div class="letter_row">
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
	<div class="letter bordered"></div>
</div>
