{% load puzzle_template_filters %}

<p class="flavor">What do I think should be the victor at the Oscars?</p>

{{ puzzle|as_ul:user|safe }}

<p>A set of nine metapuzzles themed around the 2020 Best Picture nominees, with a metameta dedicated to my favorite movie of the year.  But, uh, it turns out writing nearly 75 puzzles in the month between the nominees are announced and the actual awards is kind of hard, so I didn't bother.  Instead, use the answers below as the feeders into the metas.

<ul class="columns">
    <li>ANT</li>
    <li>ARGUMENT</li>
    <li>BARKIS IS WILLIN</li>
    <li>BASEBALL SCORE</li>
    <li>BE BRAVE</li>
    <li>BENNIFER</li>
    <li>BILLY GOAT</li>
    <li>BITTERN</li>
    <li>BLUE BOOK</li>
    <li>BON MOT</li>
    <li>BRING CONFLICT</li>
    <li>BUDGIE</li>
    <li>BULLDOG</li>
    <li>BURN RATE</li>
    <li>CATCH-22</li>
    <li>CENTAUR</li>
    <li>CHEESE SOUFFLE</li>
    <li>CHER</li>
    <li>CLOTHES PEG</li>
    <li>CONGRESS</li>
    <li>COURT</li>
    <li>CRYPTIC CLUE</li>
    <li>CZECHOSLOVAKIA</li>
    <li>DAMN</li>
    <li>DANCE FLOOR</li>
    <li>DR. BONHAM'S CASE</li>
    <li>DREAMLAND</li>
    <li>EAGLE</li>
    <li>ERR</li>
    <li>ESSAY SECTION</li>
    <li>FIGHT BACK</li>
    <li>FIRST VISION</li>
    <li>FOOT RACE</li>
    <li>FRIEND COMPUTER</li>
    <li>GAUNT</li>
    <li>GRINDHOUSE</li>
    <li>GUARD RAIL</li>
    <li>HARDENING AGENT</li>
    <li>HENRI BECQUEREL</li>
    <li>IN OTHER WORDS</li>
    <li>JUMPER</li>
    <li>KEROSENE</li>
    <li>LINENS</li>
    <li>MARION</li>
    <li>MUGGLE</li>
    <li>NEEDLER</li>
    <li>OBAMA INAUGURATION</li>
    <li>OUT</li>
    <li>OUTRE</li>
    <li>PAL</li>
    <li>PAPAL LOOKS</li>
    <li>PAPARAZZI</li>
    <li>PASS AWAY</li>
    <li>REBEL</li>
    <li>SAM MCGEE</li>
    <li>SCREWDRIVER</li>
    <li>SEMICOLON</li>
    <li>SLIP OF PAPER</li>
    <li>SLOWBRO</li>
    <li>SNEAKIER</li>
    <li>SOPHIA NATURALIZATION ACT</li>
    <li>SPRING BREAK</li>
    <li>STONED</li>
    <li>STORM</li>
    <li>STRIP MINE</li>
    <li>TABLE SALT</li>
    <li>TEST SOLUTION BEES IGNORE</li>
    <li>THE SINKING OF THE TITANIC</li>
    <li>THE SORCERER'S APPRENTICE</li>
    <li>THIS IS THE END</li>
    <li>TIGER</li>
    <li>WIRED</li>
    <li>WOLF</li>
    <li>ZEN GARDEN</li>
</ul>

<p>This is indebted to Deusovi's <a href="https://puzzling.stackexchange.com/questions/65270/recognizing-a-metapuzzle/">Recognizing a Metapuzzle</a>, which pioneered the concept of "metas where the feeders don't actually exist".  My twist was applying the match-answers-to-metas mechanic, which dates to at least 2008 but I think is now most associated with Foggy Brume's <a href="http://www.pandamagazine.com/index.php">Puzzle Boats</a>.</p>
