<p>12 students took the class, each completing some of the assignments.  Can you determine which students completed which work?</p>
<ol>
	<li>Every student finished at least one assignment, but no student finished every assignment.</li>
	<li>Every assignment was completed by at least one student, but no assignment was completed by every student.</li>
	<li>Fran completed exactly two assignments.</li>
	<li>Emily did not complete any pair of consecutive assignments.</li>
	<li>Beth and Georgia completed the same number of assignments.</li>
	<li>The assignments completed by Anne are a proper subset of the assignments completed by Emily, and Emily's assignments are a proper of subset of those completed by Katherine.</li>
	<li>The number of students who completed the first assignment times the number of students who completed the second assignment equals 20.</li>
	<li>Joan completed two more assignments than Helen did.</li>
	<li>Caroline completed exactly three assignments; the two she didn't do were consecutive.</li>
	<li>Denise and Ione were perfect opposites--any assignment finished by Denise was skipped by Ione, and vice versa.</li>
	<li>When the students are listed alphabetically, in every pair of consecutive students (that is, Anne/Beth, Beth/Caroline, Caroline/Denise, <em>et cetera</em>), at least one completed the fourth assignment.  The same is true of the fifth assignment.</li>
	<li>Only four students completed exactly one of assignments 4 and 5.</li>
	<li>An even number of students completed the third assignment.</li>
	<li>Anne and Denise both completed the fifth (or least signficant) assignment; no other assignment was completed by both of them.</li>
	<li>The first (or most significant) assignment was completed by four students, all between Caroline and Georgia (inclusive) alphabetically.</li>
	<li>Leah completed the second assignment if and only if Anne did not complete the fourth.</li>
	<li>If you think of the assignments as a binary number, where finishing an assignment is a 1 and not finishing is a 0 (but why would you?), then Beth's number is the only palindrome.</li>
	<li>Either Anne and Ione both completed exactly one assignment, or they both completed the second assignment.</li>
	<li>Of Emily, Fran, and Georgia, exactly one did not complete the fourth assignment.</li>
	<li>Either Leah completed all of the odd numbered assignments OR Ione completed exactly one of the first and second assignments.</li>
	<li>Beth completed the second assignment; all of the other students who did so form one contiguous segment of the class when listed alphabetically.</li>
	<li>The assignments completed by Katherine form a consecutive block.</li>
	<li>The number of students who completed the fourth assignment plus the number who completed the fifth assignment equals 16.</li>
</ol>
<table class="assignments">
	<tr>
		<th></th>
		<th>First</th>
		<th>Second</th>
		<th>Third</th>
		<th>Fourth</th>
		<th>Fifth</th>
	</tr>
	<tr>
		<td>Anne</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Beth</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Caroline</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Denise</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Emily</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Fran</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Georgia</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Helen</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Ione</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Joan</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Katherine</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Leah</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>