<p class="flavor">I'm planning on making a spooooooky website for Halloween.  <strong>What technology should I use to build it?</strong></p>

<h2>First, work on these puzzles:</h2>

{{ meta.as_ul|safe }}

<h2>Then, consider this:</h2>

<h4>I'm familiar with front-end technologies, back-end technologies, and everything in between.</h4>
<table class="meta">
	<tr>
		<td></td>
		<td>_ _</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>_ _ _ _ _</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>_ _ _ _</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>_ _ _ _ _ _ _</td>
		<td></td>
	</tr>
</table>