<table class="max_path">
	<tr>
		<td>4<br>A</td>
		<td>25<br>N</td>
		<td>33<br>S</td>
		<td>47<br>W</td>
		<td>5<br>E</td>
		<td>33<br>R</td>
		<td>38<br>E</td>
		<td>41<br>S</td>
		<td>48<br>U</td>
		<td>42<br>W</td>
	</tr>
	<tr>
		<td>39<br>N</td>
		<td>25<br>S</td>
		<td>29<br>W</td>
		<td>24<br>E</td>
		<td>26<br>R</td>
		<td>2<br>A</td>
		<td>47<br>G</td>
		<td>16<br>H</td>
		<td>25<br>E</td>
		<td>32<br>S</td>
	</tr>
	<tr>
		<td>21<br>S</td>
		<td>7<br>W</td>
		<td>2<br>E</td>
		<td>45<br>R</td>
		<td>48<br>L</td>
		<td>48<br>N</td>
		<td>16<br>H</td>
		<td>16<br>D</td>
		<td>48<br>O</td>
		<td>4<br>N</td>
	</tr>
	<tr>
		<td>30<br>W</td>
		<td>35<br>E</td>
		<td>8<br>R</td>
		<td>29<br>Y</td>
		<td>2<br>R</td>
		<td>16<br>O</td>
		<td>6<br>U</td>
		<td>43<br>R</td>
		<td>40<br>I</td>
		<td>39<br>A</td>
	</tr>
	<tr>
		<td>42<br>E</td>
		<td>42<br>R</td>
		<td>46<br>S</td>
		<td>30<br>C</td>
		<td>30<br>S</td>
		<td>7<br>E</td>
		<td>19<br>N</td>
		<td>41<br>G</td>
		<td>49<br>A</td>
		<td>25<br>N</td>
	</tr>
	<tr>
		<td>35<br>R</td>
		<td>45<br>M</td>
		<td>10<br>E</td>
		<td>24<br>O</td>
		<td>33<br>T</td>
		<td>43<br>R</td>
		<td>46<br>R</td>
		<td>16<br>A</td>
		<td>22<br>N</td>
		<td>6<br>S</td>
	</tr>
	<tr>
		<td>46<br>O</td>
		<td>29<br>E</td>
		<td>2<br>A</td>
		<td>42<br>T</td>
		<td>48<br>I</td>
		<td>44<br>A</td>
		<td>28<br>A</td>
		<td>28<br>N</td>
		<td>48<br>S</td>
		<td>35<br>W</td>
	</tr>
	<tr>
		<td>28<br>L</td>
		<td>33<br>P</td>
		<td>6<br>E</td>
		<td>46<br>H</td>
		<td>28<br>A</td>
		<td>25<br>A</td>
		<td>42<br>N</td>
		<td>14<br>S</td>
		<td>34<br>W</td>
		<td>32<br>E</td>
	</tr>
	<tr>
		<td>23<br>A</td>
		<td>14<br>I</td>
		<td>18<br>S</td>
		<td>16<br>H</td>
		<td>12<br>A</td>
		<td>9<br>N</td>
		<td>36<br>S</td>
		<td>33<br>W</td>
		<td>37<br>E</td>
		<td>29<br>R</td>
	</tr>
</table>
<p>Trace a path through the grid, starting at the upper-left corner and going to the lower-right, <strong>only ever moving right or down</strong>, so that the sum of all number square crossed is maximized.  The total sum of the path is 617.</p>
