<table class="pieces_of_8 letters">
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class='bordered yellow'></td>
		<td class='bordered yellow'></td>
		<td class='bordered yellow'></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
	</tr>
	<tr>
		<td class='bordered'></td>
		<td class='black'>1</td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'>2</td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'>3</td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'>4</td>
		<td class='bordered'></td>
	</tr>
	<tr>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'>5</td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'>6</td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'>7</td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
	</tr>
	<tr>
		<td class='bordered'></td>
		<td class='black'>8</td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'>9</td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'>10</td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'>11</td>
		<td class='bordered'></td>
	</tr>
	<tr>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='black'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td class='bordered'></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class='bordered yellow'></td>
		<td class='bordered yellow'></td>
		<td class='bordered yellow'></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<p>All clues lead to an eight-letter answer that must entered wrapping around one of the black squares, either clockwise or counterclockwise, beginning anywhere.  The starting square and the direction can be determined by the overlapping answers.  Answers to numbered clues go around that same-numbered black square; where to place the other answers must be determined.</p>

<ol>
	<li>Winter driving hazard (2 wds)</li>
	<li>Absolute highest point</li>
	<li>Catastrophe</li>
	<li>Thing changed in addition to attitude in a Jimmy Buffett song</li>
	<li>Move to a new city, say</li>
	<li>One saying no</li>
	<li>Condition not actually defined as doing the same thing but expecting different results</li>
	<li>The quality of being brazenly obvious</li>
	<li>Measuring devices commonly found in <em>The Elder Scrolls: Oblivion</em> (but not <em>Skyrim</em>)</li>
	<li>Mull over</li>
	<li>Out of the ordinary</li>
</ol>

<ul>
	<li>Common handout</li>
	<li>Brainy</li>
	<li>Leave for the day (2 wds)</li>
	<li>Performer of petty tricks</li>
	<li>CC someone new for an E-mail chain, maybe (3 wds)</li>
	<li>Broad-leaved endive</li>
	<li>Statis</li>
	<li>Where to find the bony labyrinth (2 wds)</li>
	<li>Most common Chinese dialect</li>
	<li>Hygenic</li>
	<li>Substance with approximately 35 grams of salt per liter</li>
	<li>With an even hand</li>
</ul>