<p class="flavor">I'm a fan of tech like VS Code.</p>
<p><strong>SAILOOSEATTLBASEBALPLAYE</strong> (2 / 3) 6 </p>
<p><strong>ABBAMREVIATIONFORAMDONAMALDTRUAMMPSTITAMLE</strong> (2 / 5) 7</p>
<p><strong>CAFIRSTENCANAMEENCAOFENCATHOMASENCAHARDYSENCAPUREENCAWOMANEN</strong> (3 / 4) 8</p>
<p><strong>RLATINGTPLARSOGIZZLIES</strong> (1 / 4) 5</p>
<p><strong>WAWWLATERIALLDXTRACTEDDTTTSINESS</strong> (2 / 3) 4</p>
<p><strong>ICARTOORYICARYIWHRYICHASERYIJERRRY</strong> (2 / 4) 5</p>
<p><strong>XTREMEENGERAROREI</strong> (4 / 4) 4</p>
<p><strong>LIKITHIRESALTSUFESTOCHASTOCPROCISS</strong> (2 / 4) 6</p>
<p><strong>DNOCESNOSREPMROFFOOTEB</strong> (2 / 3) 3</p>
<p><strong>SKILLORELOQUENCEINPUBLICSPEAKING</strong> (1 / 3) 7</p>
<hr>
<em>
	<p>EXAMPLE:</p>
	<p>Sufficient, plentiful, or more than adequate => Txsufficient, lxplentiful, rxor exmore nxthan exadequate => <strong>TXSUFFICIENTLXPLENTIFULRXOREXMORENXTHANEXADEQUATE</strong></p>
</em>
