<table class="letters">
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='lime'></td>
		<td></td>
		<td class='black'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='lime'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='black'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td class='lime'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td class='yellow'></td>
		<td class='black'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td></td>
		<td class='black'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td class='black'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='lime'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='black'></td>
		<td class='yellow'></td>
		<td class='black'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='lime'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='black'></td>
		<td></td>
		<td class='lime'></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='lime'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='black'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
	</tr>
	<tr>
		<td class='lime'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td class='lime'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='black'></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td class='lime'></td>
		<td></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td class='lime'></td>
		<td></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td>&mdash;</td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td>&mdash;</td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td class='lime'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='lime'></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='black'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='yellow'></td>
		<td class='black'></td>
		<td class='lime'></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
	<tr>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td></td>
		<td></td>
		<td class='lime'></td>
		<td class='black'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td></td>
		<td class='yellow'></td>
		<td class='black'></td>
		<td class='black'></td>
	</tr>
</table>
<ul>
	<li>Sarcastic or flippant</li>
	<li>Ayahuasca or lysergic acid diethylamide, for instance </li>
	<li>Crickets song covered by the Bobby Fuller Four and the Clash </li>
	<li>The author of these puzzles </li>
	<li><em>Pretty Woman</em> actress </li>
	<li>Song that opens with, "I finally made it through med school" </li>
	<li>Vessel eventually found on Jakku, with "The" </li>
	<li>Apocalyptic term for potentially ending the filibuster in the Senate </li>
	<li>A woman with bleached hair like Jean Harlow </li>
	<li>Haitian capital </li>
	<li>Sign of indecision? </li>
	<li>22/7, but not pi, for example</li>
	<li>Giant redwood </li>
	<li>Occurring at the same moment </li>
	<li>Moving into a higher tax bracket, say </li>
</ul>
